In [1]:
import os
import glob
import pandas as pd
# Get all CSV files from the raw directory
raw_data_path = "../data/processed"
csv_files = glob.glob(os.path.join(raw_data_path, "*.csv"))

# Create a list of DataFrames, each containing a single CSV
dataframes = []
file_names = []

for csv_file in csv_files:
    # Extract filename without extension for reference
    file_name = os.path.basename(csv_file).replace('.csv', '')
    
    # Load CSV into DataFrame
    df = pd.read_csv(csv_file)
    
    # Store DataFrame and filename
    dataframes.append(df)
    file_names.append(file_name)
    
    print(f"Loaded {file_name}: {df.shape[0]} rows, {df.shape[1]} columns")

print(f"\nTotal DataFrames created: {len(dataframes)}")


df_dict = dict(zip(file_names, dataframes))
print(f"\nAvailable DataFrames: {list(df_dict.keys())}")

Loaded accounts_cleaned: 1635 rows, 6 columns
Loaded account_statuses: 3 rows, 2 columns
Loaded account_types: 5 rows, 2 columns
Loaded addresses_cleaned: 1210 rows, 4 columns
Loaded branches_cleaned: 50 rows, 3 columns
Loaded customers_cleaned: 1058 rows, 6 columns
Loaded customer_types: 3 rows, 2 columns
Loaded loans_cleaned: 316 rows, 7 columns
Loaded loan_statuses: 3 rows, 2 columns
Loaded transactions_cleaned: 48042 rows, 8 columns
Loaded transaction_types: 4 rows, 2 columns

Total DataFrames created: 11

Available DataFrames: ['accounts_cleaned', 'account_statuses', 'account_types', 'addresses_cleaned', 'branches_cleaned', 'customers_cleaned', 'customer_types', 'loans_cleaned', 'loan_statuses', 'transactions_cleaned', 'transaction_types']

In [2]:
df_transactions=df_dict['transactions_cleaned']
df_transaction_types=df_dict['transaction_types']
df_account_statuses=df_dict['account_statuses']
df_account_types=df_dict['account_types']
df_accounts=df_dict['accounts_cleaned']
df_branches=df_dict['branches_cleaned']
df_customer_types=df_dict['customer_types']
df_customers=df_dict['customers_cleaned']
df_loan_statuses=df_dict['loan_statuses']
df_loans=df_dict['loans_cleaned']
df_addresses=df_dict['addresses_cleaned']

In [ ]:
import pandas as pd

def build_enriched_transactions(transactions, transaction_types,
                                accounts, account_types, account_statuses,
                                customers, customer_types, addresses,
                                branches, loans, loan_statuses):
    # === STEP 1: Transaction types ===
    tx = transactions.merge(
        transaction_types,
        on="TransactionTypeID",
        how="left"
    ).rename(columns={"TypeName": "TransactionTypeName"})

    # === STEP 2: Origin account details ===
    tx = tx.merge(
        accounts.add_prefix("Origin_"),
        left_on="AccountOriginID",
        right_on="Origin_AccountID",
        how="left"
    )
    tx = tx.merge(
        account_types.add_prefix("Origin_"),
        left_on="Origin_AccountTypeID",
        right_on="Origin_AccountTypeID",
        how="left"
    ).rename(columns={"Origin_TypeName": "Origin_AccountType"})
    tx = tx.merge(
        account_statuses.add_prefix("Origin_"),
        left_on="Origin_AccountStatusID",
        right_on="Origin_AccountStatusID",
        how="left"
    ).rename(columns={"Origin_StatusName": "Origin_AccountStatus"})

    # === STEP 3: Destination account details ===
    tx = tx.merge(
        accounts.add_prefix("Dest_"),
        left_on="AccountDestinationID",
        right_on="Dest_AccountID",
        how="left"
    )
    tx = tx.merge(
        account_types.add_prefix("Dest_"),
        left_on="Dest_AccountTypeID",
        right_on="Dest_AccountTypeID",
        how="left"
    ).rename(columns={"Dest_TypeName": "Dest_AccountType"})
    tx = tx.merge(
        account_statuses.add_prefix("Dest_"),
        left_on="Dest_AccountStatusID",
        right_on="Dest_AccountStatusID",
        how="left"
    ).rename(columns={"Dest_StatusName": "Dest_AccountStatus"})

    # === STEP 4: Customer info (origin & dest) ===
    # Origin customer
    tx = tx.merge(
        customers.add_prefix("Origin_"),
        left_on="Origin_CustomerID",
        right_on="Origin_CustomerID",
        how="left"
    )
    tx = tx.merge(
        customer_types.add_prefix("Origin_"),
        left_on="Origin_CustomerTypeID",
        right_on="Origin_CustomerTypeID",
        how="left"
    ).rename(columns={"Origin_TypeName": "Origin_CustomerType"})
    tx = tx.merge(
        addresses.add_prefix("Origin_Addr_"),
        left_on="Origin_AddressID",
        right_on="Origin_Addr_AddressID",
        how="left"
    )

    # Dest customer
    tx = tx.merge(
        customers.add_prefix("Dest_"),
        left_on="Dest_CustomerID",
        right_on="Dest_CustomerID",
        how="left"
    )
    tx = tx.merge(
        customer_types.add_prefix("Dest_"),
        left_on="Dest_CustomerTypeID",
        right_on="Dest_CustomerTypeID",
        how="left"
    ).rename(columns={"Dest_TypeName": "Dest_CustomerType"})
    tx = tx.merge(
        addresses.add_prefix("Dest_Addr_"),
        left_on="Dest_AddressID",
        right_on="Dest_Addr_AddressID",
        how="left"
    )

    # === STEP 5: Branch info ===
    tx = tx.merge(
        branches.add_prefix("Branch_"),
        left_on="BranchID",
        right_on="Branch_BranchID",
        how="left"
    )
    tx = tx.merge(
        addresses.add_prefix("Branch_Addr_"),
        left_on="Branch_AddressID",
        right_on="Branch_Addr_AddressID",
        how="left"
    )

    # === STEP 6: Loan numeric features ===
    loan_features = loans.groupby("AccountID").agg({
        "LoanID": "count",
        "PrincipalAmount": "sum",
        "InterestRate": "mean"
    }).reset_index().rename(columns={
        "LoanID": "LoanCount",
        "PrincipalAmount": "TotalPrincipal",
        "InterestRate": "AvgInterestRate"
    })

    # === STEP 7: Loan status counts ===
    loan_status_features = loans.merge(
        loan_statuses, on="LoanStatusID", how="left"
    )
    loan_status_pivot = (
        loan_status_features
        .groupby(["AccountID", "StatusName"])
        .size()
        .unstack(fill_value=0)
        .reset_index()
    )
    # Example: columns = ["AccountID", "Active", "Paid Off", "Overdue"]

    # Merge origin + destination loan features
    tx = tx.merge(
        loan_features.add_prefix("Origin_"),
        left_on="Origin_AccountID",
        right_on="Origin_AccountID",
        how="left"
    ).merge(
        loan_features.add_prefix("Dest_"),
        left_on="Dest_AccountID",
        right_on="Dest_AccountID",
        how="left"
    )

    # Merge origin + destination loan statuses
    tx = tx.merge(
        loan_status_pivot.add_prefix("Origin_LoanStatus_"),
        left_on="Origin_AccountID",
        right_on="Origin_LoanStatus_AccountID",
        how="left"
    ).merge(
        loan_status_pivot.add_prefix("Dest_LoanStatus_"),
        left_on="Dest_AccountID",
        right_on="Dest_LoanStatus_AccountID",
        how="left"
    )

    return tx

In [ ]:
df_transactions,df_transaction_types,df_accounts,df_account_types,df_account_statuses,df_customers,df_customer_types,df_addresses,df_branches,df_loans,df_loan_statusesdf_final=build_enriched_transactions()

In [12]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48042 entries, 0 to 48041
Data columns (total 66 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   TransactionID                48042 non-null  int64
 1   AccountOriginID              48042 non-null  int64
 2   AccountDestinationID         48042 non-null  int64
 3   TransactionTypeID            48042 non-null  int64
 4   Amount                       48042 non-null  float64
 5   TransactionDate              48042 non-null  object
 6   BranchID                     48042 non-null  int64
 7   Description                  48042 non-null  object
 8   TransactionTypeName          48042 non-null  object
 9   Origin_AccountID             47581 non-null  float64
 10  Origin_CustomerID            47581 non-null  float64
 11  Origin_AccountTypeID         47581 non-null  float64
 12  Origin_AccountStatusID       47581 non-null  float64
 13  Origin_Balance               47581 non-null  float64
 14  Origin_OpeningDate           47581 non-null  object
 15  Origin_AccountType           47581 non-null  object
 16  Origin_AccountStatus         47581 non-null  object
 17  Dest_AccountID               47562 non-null  float64
 18  Dest_CustomerID              47562 non-null  float64
 19  Dest_AccountTypeID           47562 non-null  float64
 20  Dest_AccountStatusID         47562 non-null  float64
 21  Dest_Balance                 47562 non-null  float64
 22  Dest_OpeningDate             47562 non-null  object
 23  Dest_AccountType             47562 non-null  object
 24  Dest_AccountStatus           47562 non-null  object
 25  Origin_FirstName             45541 non-null  object
 26  Origin_LastName              45541 non-null  object
 27  Origin_DateOfBirth           45541 non-null  object
 28  Origin_AddressID             45541 non-null  float64
 29  Origin_CustomerTypeID        45541 non-null  float64
 30  Origin_CustomerType          45541 non-null  object
 31  Origin_Addr_AddressID        45541 non-null  float64
 32  Origin_Addr_Street           45541 non-null  object
 33  Origin_Addr_City             45541 non-null  object
 34  Origin_Addr_Country          45541 non-null  object
 35  Dest_FirstName               45415 non-null  object
 36  Dest_LastName                45415 non-null  object
 37  Dest_DateOfBirth             45415 non-null  object
 38  Dest_AddressID               45415 non-null  float64
 39  Dest_CustomerTypeID          45415 non-null  float64
 40  Dest_CustomerType            45415 non-null  object
 41  Dest_Addr_AddressID          45415 non-null  float64
 42  Dest_Addr_Street             45415 non-null  object
 43  Dest_Addr_City               45415 non-null  object
 44  Dest_Addr_Country            45415 non-null  object
 45  Branch_BranchID              48042 non-null  int64
 46  Branch_BranchName            48042 non-null  object
 47  Branch_AddressID             48042 non-null  int64
 48  Branch_Addr_AddressID        48042 non-null  int64
 49  Branch_Addr_Street           48042 non-null  object
 50  Branch_Addr_City             48042 non-null  object
 51  Branch_Addr_Country          48042 non-null  object
 52  Origin_LoanCount             8621 non-null   float64
 53  Origin_TotalPrincipal        8621 non-null   float64
 54  Origin_AvgInterestRate       8621 non-null   float64
 55  Dest_LoanCount               8489 non-null   float64
 56  Dest_TotalPrincipal          8489 non-null   float64
 57  Dest_AvgInterestRate         8489 non-null   float64
 58  Origin_LoanStatus_AccountID  8621 non-null   float64
 59  Origin_LoanStatus_Active     8621 non-null   float64
 60  Origin_LoanStatus_Overdue    8621 non-null   float64
 61  Origin_LoanStatus_Paid Off   8621 non-null   float64
 62  Dest_LoanStatus_AccountID    8489 non-null   float64
 63  Dest_LoanStatus_Active       8489 non-null   float64
 64  Dest_LoanStatus_Overdue      8489 non-null   float64
 65  Dest_LoanStatus_Paid Off     8489 non-null   float64
dtypes: float64(31), int64(8), object(27)
memory usage: 24.2+ MB

In [14]:
df_final.head(50)

,TransactionID,AccountOriginID,AccountDestinationID,TransactionTypeID,Amount,TransactionDate,BranchID,Description,TransactionTypeName,Origin_AccountID,...,Dest_TotalPrincipal,Dest_AvgInterestRate,Origin_LoanStatus_AccountID,Origin_LoanStatus_Active,Origin_LoanStatus_Overdue,Origin_LoanStatus_Paid Off,Dest_LoanStatus_AccountID,Dest_LoanStatus_Active,Dest_LoanStatus_Overdue,Dest_LoanStatus_Paid Off
0,3000000,201241,200847,3,2984.02,2023-12-29 10:00:00.000000,26,Transaction 0,Transfer,201241.0,...,NaN,NaN,201241.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
1,3000001,201103,200262,3,4713.48,2023-05-12 02:00:00.000000,23,Transaction 1,Transfer,201103.0,...,59673.83,0.14110,201103.0,2.0,0.0,0.0,200262.0,1.0,0.0,0.0
2,3000002,201563,200589,3,1600.23,2020-07-14 17:00:00.000000,5,Transaction 2,Transfer,201563.0,...,NaN,NaN,201563.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
3,3000003,200512,200404,1,4279.61,2023-09-09 07:00:00.000000,36,Transaction 3,Deposit,200512.0,...,97362.97,0.11450,200512.0,1.0,0.0,0.0,200404.0,1.0,0.0,0.0
4,3000004,201107,201408,2,4125.32,2022-05-29 02:00:00.000000,44,Transaction 4,Withdrawal,201107.0,...,NaN,NaN,201107.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
5,3000005,200353,201615,3,2445.17,2023-07-14 03:00:00.000000,26,Transaction 5,Transfer,200353.0,...,NaN,NaN,200353.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
6,3000006,200822,200492,3,3592.37,2020-11-23 23:00:00.000000,14,Transaction 6,Transfer,200822.0,...,NaN,NaN,200822.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
7,3000007,200255,200152,1,3291.83,2020-04-16 21:00:00.000000,40,Transaction 7,Deposit,200255.0,...,NaN,NaN,200255.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
8,3000008,200379,200993,1,2965.03,2022-10-10 14:00:00.000000,47,Transaction 8,Deposit,200379.0,...,NaN,NaN,200379.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
9,3000009,201103,200376,3,611.83,2023-01-10 11:00:00.000000,47,Transaction 9,Transfer,201103.0,...,72508.87,0.05520,201103.0,2.0,0.0,0.0,200376.0,1.0,0.0,0.0
10,3000010,200002,201174,3,1333.68,2020-12-17 07:00:00.000000,37,Transaction 10,Transfer,200002.0,...,NaN,NaN,200002.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
11,3000011,200467,201024,1,4592.98,2023-07-09 19:00:00.000000,7,Transaction 11,Deposit,200467.0,...,NaN,NaN,200467.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
12,3000012,201356,201066,1,2905.70,2023-10-02 14:00:00.000000,23,Transaction 12,Deposit,201356.0,...,NaN,NaN,201356.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
13,3000013,201406,201077,3,2069.79,2022-12-03 06:00:00.000000,2,Transaction 13,Transfer,201406.0,...,7431.11,0.06340,201406.0,1.0,0.0,1.0,201077.0,0.0,0.0,1.0
14,3000014,200029,200427,3,3993.84,2021-08-01 08:00:00.000000,28,Transaction 14,Transfer,200029.0,...,3322.19,0.14560,200029.0,1.0,0.0,0.0,200427.0,1.0,0.0,0.0
15,3000015,200229,201083,2,3387.07,2023-06-15 08:00:00.000000,14,Transaction 15,Withdrawal,200229.0,...,NaN,NaN,200229.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
16,3000016,200225,201428,2,1402.70,2023-01-01 02:00:00.000000,42,Transaction 16,Withdrawal,200225.0,...,144159.35,0.09815,200225.0,1.0,0.0,0.0,201428.0,2.0,0.0,0.0
17,3000017,201263,200124,4,3484.28,2023-01-13 07:00:00.000000,7,Transaction 17,Payment,201263.0,...,NaN,NaN,201263.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
18,3000018,201072,200055,4,1851.36,2023-03-08 02:00:00.000000,44,Transaction 18,Payment,201072.0,...,NaN,NaN,201072.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
19,3000019,201054,200868,1,4630.74,2022-11-19 03:00:00.000000,44,Transaction 19,Deposit,201054.0,...,NaN,NaN,201054.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
20,3000020,200017,200463,2,480.73,2022-09-20 06:00:00.000000,5,Transaction 20,Withdrawal,200017.0,...,NaN,NaN,200017.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
21,3000021,201011,200053,3,2645.62,2022-09-30 06:00:00.000000,25,Transaction 21,Transfer,201011.0,...,NaN,NaN,201011.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
22,3000022,201428,201090,2,56.20,2023-01-20 18:00:00.000000,4,Transaction 22,Withdrawal,201428.0,...,NaN,NaN,201428.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
23,3000023,200186,200270,3,1559.01,2021-06-05 22:00:00.000000,2,Transaction 23,Transfer,200186.0,...,14857.72,0.07310,200186.0,2.0,0.0,0.0,200270.0,0.0,1.0,0.0
24,3000024,201126,200906,3,1638.03,2020-03-27 08:00:00.000000,5,Transaction 24,Transfer,201126.0,...,NaN,NaN,201126.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
25,3000025,200180,200267,1,4799.39,2021-07-11 13:00:00.000000,30,Transaction 25,Deposit,200180.0,...,NaN,NaN,200180.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
26,3000026,201235,201545,2,2769.45,2021-10-20 07:00:00.000000,49,Transaction 26,Withdrawal,201235.0,...,NaN,NaN,201235.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
27,3000027,201270,201250,3,1166.02,2024-01-24 19:00:00.000000,5,Transaction 27,Transfer,201270.0,...,NaN,NaN,201270.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
28,3000028,201494,201138,1,167.64,2020-02-11 17:00:00.000000,11,Transaction 28,Deposit,201494.0,...,NaN,NaN,201494.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
29,3000029,201214,200803,1,3863.52,2020-03-19 00:00:00.000000,30,Transaction 29,Deposit,201214.0,...,NaN,NaN,201214.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
30,3000030,201597,200869,2,4428.05,2021-07-03 19:00:00.000000,26,Transaction 30,Withdrawal,201597.0,...,NaN,NaN,201597.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN
31,3000031,200328,201508,2,4020.04,2021-02-04 18:00:00.000000,8,Transaction 31,Withdrawal,200328.0,...,64868.95,0.06360,200328.0,1.0,0.0,0.0,201508.0,0.0,0.0,1.0
32,3000032,200333,200478,1,2871.33,2021-02-01 16:00:00.000000,7,Transaction 32,Deposit,200333.0,...,NaN,NaN,200333.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
33,3000033,201128,200891,2,2357.35,2022-11-18 03:00:00.000000,49,Transaction 33,Withdrawal,201128.0,...,NaN,NaN,201128.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
34,3000034,200404,200627,1,4326.56,2022-07-31 16:00:00.000000,40,Transaction 34,Deposit,200404.0,...,NaN,NaN,200404.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
35,3000035,201081,200724,3,4550.89,2023-10-23 03:00:00.000000,49,Transaction 35,Transfer,201081.0,...,NaN,NaN,201081.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
36,3000036,201088,201606,4,3407.45,2020-12-22 00:00:00.000000,8,Transaction 36,Payment,201088.0,...,NaN,NaN,201088.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
37,3000037,200498,200776,1,456.87,2022-07-07 07:00:00.000000,19,Transaction 37,Deposit,200498.0,...,NaN,NaN,200498.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
38,3000038,201514,200676,2,2401.86,2022-06-07 23:00:00.000000,6,Transaction 38,Withdrawal,201514.0,...,NaN,NaN,201514.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
39,3000039,200466,201305,3,3981.24,2022-03-02 22:00:00.000000,2,Transaction 39,Transfer,200466.0,...,NaN,NaN,200466.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
40,3000040,200648,201602,2,206.08,2023-05-15 13:00:00.000000,16,Transaction 40,Withdrawal,200648.0,...,NaN,NaN,200648.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
41,3000041,200123,200091,1,3947.09,2021-02-05 20:00:00.000000,22,Transaction 41,Deposit,200123.0,...,NaN,NaN,200123.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
42,3000042,200107,201080,3,4260.61,2020-07-18 16:00:00.000000,30,Transaction 42,Transfer,200107.0,...,NaN,NaN,200107.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
43,3000043,201360,200668,2,741.30,2021-01-29 05:00:00.000000,31,Transaction 43,Withdrawal,201360.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,3000044,201292,200088,2,1644.10,2022-11-21 11:00:00.000000,26,Transaction 44,Withdrawal,201292.0,...,NaN,NaN,201292.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
45,3000045,200874,200937,3,2989.52,2021-02-15 18:00:00.000000,34,Transaction 45,Transfer,200874.0,...,NaN,NaN,200874.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
46,3000046,200106,200184,2,2450.36,2021-11-01 23:00:00.000000,23,Transaction 46,Withdrawal,200106.0,...,NaN,NaN,200106.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
47,3000047,200935,200100,2,3882.01,2021-07-09 10:00:00.000000,50,Transaction 47,Withdrawal,200935.0,...,NaN,NaN,200935.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
48,3000048,201489,200791,2,1231.47,2022-12-15 01:00:00.000000,11,Transaction 48,Withdrawal,201489.0,...,NaN,NaN,201489.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN
49,3000049,200684,200323,3,115.26,2021-03-08 04:00:00.000000,16,Transaction 49,Transfer,200684.0,...,NaN,NaN,200684.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN

In [15]:
import pandas as pd
import numpy as np

def compute_transaction_features(tx):
    """
    Compute initial anomaly detection features from enriched transaction DataFrame
    """
    df = tx.copy()

    # --- Transaction Amount Features ---
    df['Amount_to_OriginBalance'] = df['Amount'] / df['Origin_Balance'].replace(0, np.nan)
    df['Amount_to_DestBalance'] = df['Amount'] / df['Dest_Balance'].replace(0, np.nan)

    # --- Account Features ---
    # Encode account status flags
    df['Origin_AccountInactive'] = df['Origin_AccountStatus'].isin(['Inactive', 'Closed']).astype(int)
    df['Dest_AccountInactive'] = df['Dest_AccountStatus'].isin(['Inactive', 'Closed']).astype(int)

    # --- Customer Features ---
    # Age
    df['Origin_DateOfBirth'] = pd.to_datetime(df['Origin_DateOfBirth'], errors='coerce')
    df['Dest_DateOfBirth'] = pd.to_datetime(df['Dest_DateOfBirth'], errors='coerce')
    today = pd.Timestamp.today()
    df['Origin_Age'] = (today - df['Origin_DateOfBirth']).dt.days // 365
    df['Dest_Age'] = (today - df['Dest_DateOfBirth']).dt.days // 365

    # --- Loan Features ---
    # Loan leverage ratios
    df['Origin_LoanLeverage'] = df['Origin_TotalPrincipal'] / df['Origin_Balance'].replace(0, np.nan)
    df['Dest_LoanLeverage'] = df['Dest_TotalPrincipal'] / df['Dest_Balance'].replace(0, np.nan)

    # Overdue loan flags
    df['Origin_OverdueLoans'] = df.get('Origin_LoanStatus_Overdue', 0)
    df['Dest_OverdueLoans'] = df.get('Dest_LoanStatus_Overdue', 0)

    # --- Transaction Time Features ---
    df['TransactionDate'] = pd.to_datetime(df['TransactionDate'], errors='coerce')
    df['TransactionHour'] = df['TransactionDate'].dt.hour
    df['TransactionWeekday'] = df['TransactionDate'].dt.dayofweek  # 0 = Monday

    # --- Optional flags ---
    #df['LargeTransferFlag'] = (df['Amount_to_OriginBalance'] > 0.5).astype(int)

    # Fill NaNs for numeric features (optional)
    numeric_cols = [
        'Amount_to_OriginBalance', 'Amount_to_DestBalance',
        'Origin_Balance', 'Dest_Balance',
        'Origin_LoanCount', 'Dest_LoanCount',
        'Origin_TotalPrincipal', 'Dest_TotalPrincipal',
        'Origin_AvgInterestRate', 'Dest_AvgInterestRate',
        'Origin_LoanLeverage', 'Dest_LoanLeverage',
        'Origin_OverdueLoans', 'Dest_OverdueLoans',
        'Origin_Age', 'Dest_Age'
    ]
    for col in numeric_cols:
        if col in df.columns:
            df[col] = df[col].fillna(0)

    return df

In [17]:
df_final1=compute_transaction_features(df_final)

In [18]:
df_final1.head()

,TransactionID,AccountOriginID,AccountDestinationID,TransactionTypeID,Amount,TransactionDate,BranchID,Description,TransactionTypeName,Origin_AccountID,...,Origin_AccountInactive,Dest_AccountInactive,Origin_Age,Dest_Age,Origin_LoanLeverage,Dest_LoanLeverage,Origin_OverdueLoans,Dest_OverdueLoans,TransactionHour,TransactionWeekday
0,3000000,201241,200847,3,2984.02,2023-12-29 10:00:00,26,Transaction 0,Transfer,201241.0,...,0,1,62.0,58.0,0.945079,0.000000,1.0,0.0,10,4
1,3000001,201103,200262,3,4713.48,2023-05-12 02:00:00,23,Transaction 1,Transfer,201103.0,...,0,0,52.0,36.0,6.365179,0.843718,0.0,0.0,2,4
2,3000002,201563,200589,3,1600.23,2020-07-14 17:00:00,5,Transaction 2,Transfer,201563.0,...,0,1,48.0,42.0,0.356985,0.000000,0.0,0.0,17,1
3,3000003,200512,200404,1,4279.61,2023-09-09 07:00:00,36,Transaction 3,Deposit,200512.0,...,0,0,51.0,54.0,1.240016,2.984420,0.0,0.0,7,5
4,3000004,201107,201408,2,4125.32,2022-05-29 02:00:00,44,Transaction 4,Withdrawal,201107.0,...,0,0,50.0,0.0,0.658676,0.000000,0.0,0.0,2,6